* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
}

/* menu inicial */

header{
    background: #63B330;
    display: block;
    width: 100vw;
    height: 85px;
}

header .menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
header .menu .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
}

header .menu div{
    /* width: 100vw;
    height: 100px;
    margin-top: 10px; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
header .menu div a{
    color: black;
}
header .menu div a img{
    width: 50px;
    height: 50px;
}
header .menu div:hover{
    filter: invert(100%);
}
header .menu div a p{
    font-size: 12px;
    margin: 0;
}
/* contenedor video y texto */

#contenido {
    margin: 20px;
    box-sizing: content-box;
}
#contenido .video{
    width: 100%;
    height: 170px;
}
#contenido h1{
    text-align: center;
}
#contenido p{
    font-size: 15px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
#contenido #carrusel{
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
}
#contenido #carrusel img{
    width: 200px;
    height: 150px;
    margin: 10px;
}
/* footes */
footer{
    display: flex;
    justify-content: center;
    background: #0068AF;
    color: white;
}
footer .redes{
    fill: white;
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
footer p{
    font-size: 12px;
    text-align: center;
}
