body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

/* menu inicial */

header{
    background: #63B330;
    display: block;
}

header .menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header .menu .logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

header .menu div{
    width: 150vw;
    height: 150px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
header .menu div a{
    text-decoration: none;
    color: black;
}
header .menu div a img{
    width: 100px;
    height: 100px;
}

@keyframes mymove {
    0%{ margin-left:0%;}
    10%{ margin-left:0%;}

    12%{ margin-left: -100%;}
    24%{ margin-left: -100%;}

    26%{ margin-left: -200%;}
    38%{ margin-left: -200%;}

    40%{ margin-left:-300%;}
    47%{ margin-left:-300%;}

    50%{ margin-left: -400%;}
    62%{ margin-left:-400%;}

    64%{ margin-left: -500%;}
    76%{ margin-left:-500%;}

    78%{ margin-left: -600%;}
    90%{ margin-left:-600%;}

    92%{ margin-left: -700%;}
    100%{ margin-left:-700%;}
}

/* slider */
#conteiner slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;/*PARA NO MOSTRAR LAS IMAGENES*/
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: absolute;
}

#slider{
    display:flex;
    width:800%;
    height:400px;
    animation: mymove 50s infinite;
}

#slider section{
    width: 100%;
}
.slider_img{
    display:block;
    width:100%;
    height: 100%;
    object-fit: cover;/*PARA QUE LA IMAGEN NO SE DISTORCIONE*/
    /*margin-left:-100%;*/
}

.slider_btn{
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    border-radius: 50%;
    cursor: pointer; 
}

.slider_btn:hover{
    background: #fff;
}

.slider_btn_left{
    left:10px;
}

.slider_btn_right{
    right: 10px;
}

/* footes */
footer{
    background: #0068AF;
}
